.Resto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    justify-content: justify;
    background-color: white;
    border-radius: 3px;
  }
  html,body{
    margin: 20px;
    padding: 20px;
    height: 100%;
  }
  .texto{
  font-size: 30px;
  }
